.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

body {
  color: #000;
  background-color: #fff;
  font-family: DM Sans, sans-serif;
  margin: 0;
}

.button_theme-light {
  color: #d41443;
  background-color: #ffffff;
}

.button__icon_theme-light {
  margin-left: 15px;
  stroke: #d41443;
}

.button_theme-dark {
  color: #ffffff;
  background-color: #d41342;
}

.button__icon_theme-dark {
  margin-left: 8px;
  stroke: #ffffff;
}

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}
.gallery {
  background-image: linear-gradient(#FFF5F6 21%, #ffffff 21%);
}

.button {
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  border-radius: 22px;
}

.products {
  padding: 60px 0;
}

.products__suptitle {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

.products__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 8px;
}

.products__item {
  position: relative;
  border-radius: 24px;
  margin-top: 140px;
  padding: 10px;
}

.products__item--pink {
  background-color: #FFB8CA;
}

.products__item--peach {
  background-color: #F0D1A5;
}

.products__item--green {
  background-color: #C2E297;
}

.products__name {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 160px;
}

.products__item--pink::before {
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(./images/phone/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__item--peach::before {
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(./images/phone/image2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__item--green::before {
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(./images/phone/image3.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--pink::before {
    background-image: url(./images/phone/image1@2x.png);
  }
  .products__item--peach::before {
    background-image: url(./images/phone/image2@2x.png);
  }
  .products__item--green::before {
    background-image: url(./images/phone/image3@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--pink::before {
    background-image: url(./images/tablet/image1@2x.png);
  }
  .products__item--peach::before {
    background-image: url(./images/tablet/image2@2x.png);
  }
  .products__item--green::before {
    background-image: url(./images/tablet/image3@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--pink::before {
    background-image: url(./images/desktop/image1@2x.png);
  }
  .products__item--peach::before {
    background-image: url(./images/desktop/image2@2x.png);
  }
  .products__item--green::before {
    background-image: url(./images/desktop/image3@2x.png);
  }
}
.products__text {
  width: 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.products__text::before {
  content: "";
  display: block;
  width: 26px;
  height: 6px;
  background-image: url(./images/sprite.svg#products-separate);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  stroke: #FFFFFF;
  fill: #FFFFFF;
  color: #FFFFFF;
}

.products__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  border: transparent;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-image: url(./images/phone/arrow-right@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products__suptitle {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
  .products__title {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 20px;
  }
  .products__name {
    margin-top: 96px;
  }
  .products__list {
    display: flex;
    justify-content: center;
  }
  .products__item {
    width: calc((100% - 32px) / 3);
    margin-top: 150px;
  }
  .products__item:not(:last-child) {
    margin-right: 16px;
  }
  .products__item--pink::before,
.products__item--peach::before,
.products__item--green::before {
    width: 224px;
    height: 224px;
    top: -7%;
  }
  .products__text {
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .products__suptitle {
    margin-bottom: 16px;
  }
  .products__item {
    width: calc((100% - 64px) / 3);
    margin-top: 277px;
  }
  .products__item:not(:last-child) {
    margin-right: 32px;
  }
  .products__name {
    font-size: 30px;
    line-height: 1.13;
    margin-top: 165px;
  }
  .products__item--pink::before,
.products__item--peach::before,
.products__item--green::before {
    width: 368px;
    height: 394px;
    top: -10%;
  }
  .products__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */